{% extends 'IsometriksSymEditBundle::base.html.twig' %}

{% block content %}
{% if form is defined %}
<form class="form-horizontal" action="{% block action %}{% endblock %}" {% block method %}method="post"{% endblock %} {{ form_enctype(form) }}>
{% endif %}
    <div class="row-fluid">
        <div class="span2">
            <div class="well well-small">
                <ul class="nav nav-pills nav-stacked">
                    {% block tabs %}{% endblock %}
                </ul>
                {% block form_actions %}{% endblock %}
            </div>
        </div>
        <div class="span10">
            <div class="tab-content well">
                {% block tab_content %}{% endblock %}
            </div>
        </div>
    </div>
{% if form is defined %}
    {{ form_rest(form) }}
</form>
{% endif %}
{% block extra %}{% endblock %}
{% endblock %}