{% extends 'IsometriksSymEditBundle::base.html.twig' %}

{% block sidebar %}
<div id="sidebar">
    <ul class="nav nav-pills nav-stacked">
        {% block tabs %}{% endblock %}
    </ul>
    {% block form_actions %}{% endblock %}
</div>
{% endblock %}

{% block content %}
{% if form is defined %}
<form class="form-horizontal" action="{% block action %}{% endblock %}" {% block method %}method="post"{% endblock %} {{ form_enctype(form) }}>
{% endif %}

    <div class="tab-content has-sidebar well">
        {% block tab_content %}{% endblock %}
    </div>

{% if form is defined %}
    {{ form_rest(form) }}
</form>
{% endif %}
{% block extra %}{% endblock %}
{% endblock %}