{% extends '{{{ bundle }}}:Page:base.html.twig' %}

{% block content %}
  
<div class="row-fluid">
    <div class="span6">
        <p>
            {% chunk image with { name: 'image-main', image_name: Page.route ~ '-main', w:500, h:400 } %}
        </p>
    </div>
        
    <div class="span6">
        {% content Page.content %}
    </div>
</div>


<div class="row-fluid">
    <div class="span6">
        {% chunk html with { name: 'html-secondary', html: 'Secondary Content' } %}
    </div>

    <div class="span6">
        <p>
            {% chunk image with { name: 'image-secondary', image_name: Page.route ~ '-secondary', w:500, h:400 } %}
        </p>
    </div>
</div>

{% endblock %}