{% extends '{{{ bundle }}}:Page:base.html.twig' %}

{% block content %}
  
<div class="row-fluid">
    <div class="span6">
        {% content Page.content %}
    </div>
        
    <div class="span6">
        <p>
            {% chunk image with { name: 'image-main', image_name: Page.route ~ '-main', w:500, h:400 } %}
        </p>
        <div>
            {% chunk html with { name: 'caption-main', html: 'Image Caption' } %}
        </div>
    </div>
</div>

{% endblock %}