{#
``
title: Sidebar Left
description: Sidebar left, content right
layout:
    - i
    - it
    - i
``
#}

{% extends '@SymEdit/Page/base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
    {% block sidebar %}
        {% include '@SymEdit/CMS/sidebar.html.twig' %}
    {% endblock %}
    </div>
    <div class="col-md-9">
        {{ parent() }}
    </div>
</div>
{% endblock %}
