{% extends '@SymEdit/Admin/tabbed.html.twig' %}
{% import '@SymEdit/Admin/macro.html.twig' as macro %}

{% block title %}Pages &raquo; {{ page.title }} &raquo; Edit{% endblock %}

{% block form_actions %}
<button class="btn btn-primary btn-block" type="submit">{{ 'admin.page.actions.save'|trans }}</button>
{{ macro.delete_button('page_delete', 'admin.page.actions.delete') }}
{% if not page.homepage %}<button type="button" data-toggle="form-confirm" data-message="Are you sure you want to delete this page?" data-target="#page-delete" class="btn btn-warning btn-block">Delete Page</button>{% endif %}
{% endblock %}

{% block extra %}
{% if not page.homepage %}
{{ macro.delete_form('page_delete', path('admin_page_delete', {id: page.id})) }}
{% endif %}
{% endblock %}