{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Users &raquo; Create New{% endblock %}

{% block form_actions %}
<button type="submit" class="btn btn-primary">
    {{ icon('plus') }}
    Add User
</button>
{% endblock %}
