<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    
    <parameters>
        <parameter key="isometriks_media.listener.root_dir.class">Isometriks\Bundle\MediaBundle\EventListener\RootInjectableListener</parameter>
    </parameters>
    
    <services>
        <service id="isometriks_media.listener.image_root" class="%isometriks_media.listener.root_dir.class%">
            <argument>%kernel.root_dir%</argument>
            <tag name="doctrine.event_listener" event="postLoad" />
            <tag name="doctrine.event_listener" event="prePersist" />
        </service>
    </services>

</container>