<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="isometriks_symedit.menu.provider.tree.class">Isometriks\Bundle\SymEditBundle\Menu\Provider\TreeMenuProvider</parameter>
        <parameter key="isometriks_symedit.menu.voter.page.class">Isometriks\Bundle\SymEditBundle\Menu\Voter\PageVoter</parameter>
        <parameter key="isometriks_symedit.menu_builder.class">Isometriks\Bundle\SymEditBundle\Menu\Builder</parameter>
    </parameters>

    <services>
        <service id="isometriks_symedit.menu.provider.tree" class="%isometriks_symedit.menu.provider.tree.class%">
            <argument type="service" id="knp_menu.factory" />
            <argument type="service" id="isometriks_symedit.page_manager" />
            <argument type="service" id="event_dispatcher" />
            <tag name="knp_menu.provider" />
        </service>

        <service id="isometriks_symedit.menu.voter.page" class="%isometriks_symedit.menu.voter.page.class%">
            <tag name="knp_menu.voter" request="true" />
        </service>

        <service id="isometriks_symedit.menu_builder" class="%isometriks_symedit.menu_builder.class%">
            <argument type="service" id="service_container" />
            <argument>%isometriks_symedit.extensions.routes%</argument>
        </service>

        <service factory-service="isometriks_symedit.menu_builder" factory-method="adminMenu" id="isometriks_symedit.menu.admin" class="Knp\Menu\Menuitem">
            <tag name="knp_menu.menu" alias="symedit_admin" />
        </service>

        <service factory-service="isometriks_symedit.menu_builder" factory-method="adminUserMenu" id="isometriks_symedit.menu.admin_user" class="Knp\Menu\Menuitem">
            <tag name="knp_menu.menu" alias="symedit_admin_user" />
        </service>
    </services>

</container>