{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Files &raquo; List{% endblock %}

{% block content %}

<div class="row">
  {% for file in files %}
  <div class="col-md-2">
      {{ file.path }}
      {#
      <a class="thumbnail" href="{{ path('admin_image_update', {id:image.id}) }}">
          <img src="{{ image | imagine_filter('gallery_thumbnail') }}">
      </a> #}
  </div>
  {% endfor %}
</div>

<div class="form-actions">
    <a class="btn btn-primary" href="{{ path('admin_file_create') }}">
        Add New File
    </a>
</div>
{% endblock %}