{#
``
title: Vertical Widgets
``
#}
{% if widgets|length > 0 %}
<div class="widget-container widget-area-{{ area }}">
{% for widget in widgets %}
    <div class="widget {{ widget.name }}">
        {% if widget.title is not empty %}<h4>{{ widget.title }}</h4>{% endif %}
        <div>
            {{ symedit_widget_render(widget) }}
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
