{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Blog &raquo; Category &raquo; Create New{% endblock %}

{% block form_actions %}
<button class="btn btn-block btn-primary" type="submit">{{ 'admin.category.actions.create'|trans }}</button>
{% endblock %}
