{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Create New Page{% endblock %}

{% block form_actions %}
<button class="btn btn-primary" type="submit">
    {{ icon('plus') }}
    Create Page
</button>
{% endblock %}
