{% extends '@SymEdit/Page/base.html.twig' %}

{% block heading %}<h1 class="heading">Success</h1>{% endblock %}

{% block content %}
   <h4>Your submission has been sent successfully.</h4>
   <p>
       We will get back to you as soon as possible.
   </p>
{% endblock %}
