{% extends '@SymEdit/User/tabbed.html.twig' %}
{% set entity = form.vars.data %}

{% block title %}Profile &raquo; Edit{% endblock %}

{% block tabs %}
    {% include 'IsometriksSymEditBundle:Admin/User:tabs.html.twig' %}
{% endblock %}

{% block tab_content %}
    {% include 'IsometriksSymEditBundle:Admin/User:tab_content.html.twig' %}
{% endblock %}

{% block action %}{{ path('fos_user_profile_edit') }}{% endblock %}

{% block form_actions %}
<div class="well well-small">
    {{ form_widget(form.basic.current_password, { attr: { class: 'input-block-level', placeholder: 'Current Password' }}) }}
</div>
<button type="submit" class="btn btn-primary btn-block">Update Profile</button>
{% endblock %}