{% extends '@SymEdit/User/base.html.twig' %}
{% set entity = form.vars.data %}

{% block title %}Profile &raquo; Edit{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" action="{{ path('fos_user_profile_edit') }}">
    {{ form_widget(form) }}

    <div class="form-actions">
        <button type="submit" class="btn">Update Profile</button>
    </div>
</form>
{% endblock %}