<li class="active">
    <a href="#basic" data-toggle="tab">
        <i class="icon-info-sign"></i>
        Basic
    </a>
</li>
<li>
    <a href="#post-seo" data-toggle="tab">
        <i class="icon-search"></i>
        SEO
    </a>
</li>
<li>
    <a href="#post-summary" data-toggle="tab">
        <i class="icon-edit"></i>
        Summary
    </a>
</li>
<li>
    <a href="#post-content" data-toggle="tab">
        <i class="icon-file"></i>
        Content
    </a>
</li>
