{% extends '@SymEdit/Page/base.html.twig' %}

{% block title %}{{ form_builder.legend }} - Success{% endblock %}

{% block heading %}<h1>Thank You.</h1>{% endblock %}

{% block content %}

    <div class="alert alert-info">
        Your submission has been successfully received.
    </div>

{% endblock %}