{% if widgets|length > 0 %}
{% set len = 12 / widgets|length %}
<div class="row-fluid">
{% for widget in widgets %}
    <div class="span{{ len }}">
        <h4>{{ widget.title }}</h4>
        {{ widget.content|raw }}
    </div>
{% endfor %}
</div>
{% endif %}