{% if app.session.flashbag.has('notice') or app.session.flashbag.has('error') %}
<div id="flash">
    {% for message in app.session.flashbag.get('notice')|default([]) %}
        <div class="flash-message message">
            <div class="container">
                {{ icon('thumbs-up') }} {{ message }}
            </div>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('error')|default([]) %}
        <div class="flash-message error">
            <div class="container">
                {{ icon('warning-sign') }} {{ message }}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}