{% block color_widget %}
<div class="input-group colorpicker-component">
    <input {{ block('widget_attributes') }} type="text" value="{{ value }}" class="form-control" />
    <span class="input-group-addon"><i></i></span>
</div>
{% endblock %}
