{% extends '@SymEdit/Email/base.html.twig' %}

{% block subject %}{{ sylius_settings('company')['name'] }} - Password Reset{% endblock %}

{% block content %}
  <h4>Hey {{ user.profile.firstName }},</h4>

  <p>
      To reset your password, <a href="{{ confirmationUrl }}">please follow this link.</a>
  </p>
{% endblock %}
