{% extends 'IsometriksSymEditBundle::base.html.twig' %}

{% block title %}Images &raquo; Sliders &raquo; Slide &raquo; New{% endblock %}

{% block content %}
<form class="form-horizontal" action="{{ path('admin_image_slider_slide_create', {slider_id:slider_id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Add Slide</button>
    </div>
</form>
{% endblock %}