{% extends '@SymEdit/Page/base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span3">
    {% block sidebar %}
        {% include '@SymEdit/CMS/sidebar.html.twig' %}
    {% endblock %}
    </div>    
    <div class="span9">
        {{ parent() }}
    </div>
</div>
{% endblock %}