{% extends 'IsometriksSymEditBundle::form.html.twig' %}

{% block title %}Register a New User{% endblock %}

{% block content %}
<form class="form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <legend>Register New User</legend>
    {{ form_widget(form) }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
{% endblock %}