{% extends 'IsometriksSymEditBundle::tabbed.html.twig' %}

{% set entity = form.vars.data %}

{% block title %}Profile &raquo; Edit{% endblock %}

{% block form_action %}{{ path('fos_user_profile_edit') }}{% endblock %}

{% block form_actions %}
<div class="well well-small">
    {{ form_widget(form.basic.current_password, { attr: { class: 'input-block-level', placeholder: 'Current Password' }}) }}
</div>
<button type="submit" class="btn btn-primary btn-block">Update Profile</button>
{% endblock %}