{% extends 'IsometriksSymEditBundle::form.html.twig' %}

{% block title %}Profile &raquo; Edit{% endblock %}

{% block content %}
<form class="form-horizontal" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
{% endblock %}