{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Widget &raquo; New &raquo; {{ widget.strategy.description|trans({}, 'widget') }}{% endblock %}

{% block form_actions %}
<button class="btn btn-primary" type="submit">
    {{ icon('plus') }}
    Create Widget
</button>
{% endblock %}
