{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Events &raquo; Create a new event{% endblock %}

{% block form_actions %}
<button class="btn btn-primary btn-block" type="submit">Create Event</button>
{% endblock %}
