{% extends '@SymEdit/Admin/Event/crud.html.twig' %}

{% block title %}Events &raquo; Create a new event{% endblock %}

{% block form_actions %}
<button class="btn btn-primary" type="submit">
    {{ icon('save') }}
    Create Event
</button>
{% endblock %}
