{% set social = social|default(Settings.social) %}
{% set name = name|default(Settings.company) %}
{% for key, value in social if value is not empty %}
    <a href="{{ value }}" target="_blank">
        <img src="{{ asset('bundles/isometrikssymedit/img/social/' ~ key ~ '.png') }}" alt="{{ name }} on {{ key|capitalize }}">
    </a>
{% endfor %}