{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Files &raquo; Upload{% endblock %}

{% block form_actions %}
    <button class="btn btn-primary" type="submit">
        {{ icon('upload') }}
        Upload File
    </button>
{% endblock %}
