{% block symedit_image_choose_row %}
<div class="row">
    {% for child in form.children %}
        {% set index = child.vars.value %}
        {% set image = form.vars.choices[index].data %}
    <label>
        {{ form_widget(child) }}
        <img src="{{ image | imagine_filter('symedit_96x96') }}">
    </label>
    {% endfor %}
</div>
{% endblock %}