{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Blog &raquo; Category &raquo; Create New{% endblock %}

{% block form_actions %}
<button class="btn btn-primary" type="submit">
    {{ icon('plus') }}
    {{ 'symedit.form.category.actions.create'|trans }}
</button>
{% endblock %}
