<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="symedit.menu.provider.tree" class="SymEdit\Bundle\CoreBundle\Menu\Provider\TreeMenuProvider">
            <argument type="service" id="knp_menu.factory" />
            <argument type="service" id="symedit.repository.page" />
            <argument type="service" id="event_dispatcher" />

            <tag name="knp_menu.provider" />
        </service>

        <service id="symedit.menu.voter.page" class="SymEdit\Bundle\CoreBundle\Menu\Voter\PageVoter">
            <tag name="knp_menu.voter" request="true" />
        </service>
    </services>
</container>
