{% extends '@SymEdit/Admin/ImageGallery/new.html.twig' %}

{% block title %}Gallery &raquo; {{ image_gallery.title }} &raquo; Add{% endblock %}

{% block form_actions %}
<button class="btn btn-primary" type="submit">
    {{ icon('save') }}
    Update Gallery
</button>
{% endblock %}
