{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Gallery &raquo; New{% endblock %}

{% block form_actions %}
<button class="btn btn-primary" type="submit">
    {{ icon('plus') }}
    Create Gallery
</button>
{% endblock %}
