{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Images &raquo; Upload{% endblock %}

{% block content %}

{{ form_start(form) }}
    {{ form_row(form) }}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Upload Image</button>
    </div>
{{ form_end(form) }}

{% endblock %}
