{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Images &raquo; Upload{% endblock %}

{% block extra %}
    <h4>Or Drag and Drop</h4>

    <div class="background-well">
        <form action="{{ path('admin_image_quick_upload') }}" class="dropzone"></form>
    </div>
{% endblock %}

{% block form_actions %}
    <button class="btn btn-primary" type="submit">
        {{ icon('upload') }}
        {{ 'symedit.form.image.actions.create'|trans }}
    </button>
{% endblock %}
