{% extends '@IsometriksSymEdit/Admin/tabbed.html.twig' %}

{% block title %}Widget &raquo; New &raquo; {{ entity.strategy.description }}{% endblock %}

{% block form_actions %}
<button class="btn btn-primary btn-block" type="submit">Create Widget</button>
{% endblock %}