{% extends '@SymEdit/User/base.html.twig' %}

{% block content %}
<form method="post" class="form-horizontal" action="{% block action '' %}" {{ form_enctype(form) }}>
    <div class="row-fluid">
        <div class="span3">
            <ul class="nav nav-pills nav-stacked">
                {% block tabs '' %}
            </ul>

            <div>
                {% block form_actions '' %}
            </div>
        </div>

        <div class="span9">
            <div class="tab-content well">
                {% block tab_content '' %}
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
</form>
{% block extra '' %}
{% endblock %}