{% extends '@SymEdit/Admin/layout.html.twig' %}

{% block title %}MailChimp Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <h3>Lists</h3>
        <div class="list-group">
        {% for list in lists.data %}
            <div class="list-group-item">
                {{ list.name }} {% if list.name == symedit_settings_get('mailchimp.default_list') %}<small>(Default)</small>{% endif %}
                <span class="badge">{{ list.stats.member_count }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
