{% extends '@SymEdit/Admin/base.html.twig' %}

{% block title %}Theme Manager{% endblock %}

{% block content %}
    <h3>Available Themes</h3>

    {% for theme in themes %}
        <div>
            <h4>
                {{ theme.title }}
                <small>({{ theme.name }})</small>
            </h4>
        </div>
    {% endfor %}
{% endblock %}