
body, html {
    height: 100%;
}

#wrap {
    min-height: 100%; 
    height: auto !important; 
    height: 100%; 
    margin: 0 auto -@footer_height; 
}

#push, #footer, footer {
    height: @footer_height - (@footer_padding*2); 
}