{% extends '@SymEdit/Page/base.html.twig' %}

{% block title %}Forbidden{% endblock %}
{% block url %}{{ app.request.uri }}{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1>Permission Denied</h1>
  <p>You do not have access to this resource.</p>
</div>
{% endblock %}
