{% extends 'IsometriksSymEditBundle:Admin/User:form.html.twig' %}

{% block title %}Users &raquo; {{ entity.username }} &raquo; Edit{% endblock %}

{% block form_action %}{{ path('admin_user_update', {id:entity.id}) }}{% endblock %}

{% block form_actions %}
<button type="submit" class="btn btn-primary btn-block">Update User</button>
{% endblock %}
