{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Users &raquo; {{ entity.username }} &raquo; Edit{% endblock %}

{% block action %}{{ path('admin_user_update', {id:entity.id}) }}{% endblock %}

{% block tabs %}
    {% include '@SymEdit/Admin/User/tabs.html.twig' %}
{% endblock %}

{% block tab_content %}
    {% include '@SymEdit/Admin/User/tab_content.html.twig' %}
{% endblock %}

{% block form_actions %}
<button type="submit" class="btn btn-primary btn-block">Update User</button>
{% endblock %}
