{% extends '@SymEdit/Admin/tabbed.html.twig' %}

{% block title %}Gallery &raquo; New{% endblock %}

{% block tabs %}
{{ form_tabs(form) }}
{% endblock %}

{% block tab_content %}
<div class="tab-content">
    <div class="tab-pane active">
        {{ form_widget(form) }}
    </div>
</div>
{% endblock %}

{% block form_actions %}
<button class="btn btn-primary" type="submit">
    {{ icon('plus') }}
    Create Gallery
</button>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    input[type=checkbox] {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }

    input[type=checkbox]:checked ~ img {
        border: 4px solid red;
    }
</style>
{% endblock %}
